{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>History</h1>
    
    <table class="table table-striped text-left">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Action</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted on</th>
            </tr>
        </thead>
        <tbody>
            
            {% for portfolio in portfolios %}
            <tr>
                <td>
                    <!-- symbol -->
                    {{portfolio.symbol}}
                </td>
                <td>
                    <!-- companyname -->
                </td>
                <td>
                    <!-- shares -->
                    {{portfolio.totalshares}}
                </td>
                <td>
                    <!-- price -->
                    {{portfolio.price}}
                </td>
                <td>
                    <!-- shares times price -->
                    {{portfolio.totalvalue}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
