{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped text-left">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
        {% for portfolio in portfolios %}
            <tr>
                <td>
                    <!-- symbol -->
                    {{portfolio.symbol}}
                </td>
                <td>
                    <!-- companyname -->
                    {{portfolio.name}}
                </td>
                <td>
                    <!-- shares -->
                    {{portfolio.totalshares}}
                </td>
                <td>
                    <!-- price -->
                    {{portfolio.price}}
                </td>
                <td>
                    <!-- shares times price -->
                    {{portfolio.totals}}
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{cash_before}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>{{portfoliototal}}</strong></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
